{% extends "base.html" %}
{% load static %}

{% block footer_css %}
    <link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
{% endblock %}


{% block content %}
    <h1 class="mt-5 pt-5"><strong>{{ description }}</strong></h1>
    <p class="m-2" style="font-size: 1.2rem;"></p>
{% endblock %}


{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; iamurtazo 2025</p>
        </div>
    </footer>
{% endblock %}